---
import Navigation from "./Navigation.astro";
import Hambureger from "./Hamburger.astro";
import ThemeIcon from './ThemeIcon.astro';
---
<header>
  <nav>
    <Hambureger />
    <ThemeIcon />
    <Navigation />
  </nav>
</header>